<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<th:block layout:fragment="main">
				<section id="admin-faq">
                <nav>
                    <h3>공지사항</h3>
                    <p>
                        HOME > 고객센터 >
                        <strong>공지사항</strong>
                    </p>
                </nav>
                <section>
                    <div>
                        <select name="search" id="selectBox">
                            <option value="#">1차 선택</option>
                            <option value="#">회원</option>
                            <option value="#">쿠폰/이벤트</option>
                            <option value="#">주문/결제</option>
                            <option value="#">배송</option>
                            <option value="#">취소/반품/교환</option>
                            <option value="#">여행/숙박/항공</option>
                            <option value="#">안전거래</option>
                        </select>
						<select name="search" id="selectBox2" class="choose">
                            <option value="search1">2차 선택</option>
                        </select>
                    </div>
                    <table id="tb">
                        <tr>
                            <th>
                            <input type="checkbox" name="all" class="chk">
                            </th>
                            <th>번호</th>
                            <th>1차 유형</th>
                            <th>2차 유형</th>
                            <th>제목</th>
                            <th>조회</th>
                            <th>날짜</th>
                            <th>관리</th>
                        </tr>

                        <tr class="row" th:each="art:${articles}">
                        	<td><input type="checkbox" name="articleNo" value="${art.no}"></td>
                            <td>[[${art.csNo}]]</td>
                            <td>[[${art.cate1}]]</td>
                            <td>[[${art.cate2}]]</td>
                            <td><a href="#">[[${art.title}]]</a></td>
                            <td>[[${art.hit}]]</td>
                            <td>[[${art.rdate}]]</td>
                            <td>
                                <a href="#" class='remove'>[삭제]</a><br>
                                <a href="#">[수정]</a>
                            </td>
                        </tr>
                       
                    </table>
                    <input type="button" class="delete" value="선택삭제">
                    <a href="#" class="write" id="write">작성하기</a>

                    <div class="paging">
                        <th:block th:if="${groups[0] > 1}">
                            <span><a th:href="@{/cs/list(pg=${groups[0] - 1})}" class="prev"><&nbsp;이전</a></span>
                        </th:block>
                        <span class="num">
                        <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                            <a th:href="@{/admin/cs/notice/list(pg=${num})}" th:class="${num == currentPage ? 'on' : 'off'}">[[${num}]]</a>
                        </th:block>
                        </span>
                        <th:block th:if="${groups[1] < lastPage}">
                            <span><a th:href="@{/cs/list(pg=${groups[1] + 1})}" class="next">다음&nbsp;></a></span>
                        </th:block>
                    </div>
                </section>
            </section>
</th:block>
</html>