<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <section id="cs">
    <div class="notice">
      <nav>
        <div>
          <p>홈<span>></span>공지사항</p>
        </div>
      </nav>
      <section class="list">
        <aside>
          <h2>공지사항</h2>
          <ul>
            <li th:classappend="${cate2}=='all' ? 'on'"><a th:href="@{/cs/list(cate1=notice, cate2=all)}">전체</a></li>
            <li th:classappend="${cate2}=='service' ? 'on'"><a th:href="@{/cs/list(cate1=notice, cate2=service)}">고객서비스</a></li>
            <li th:classappend="${cate2}=='safeDeal' ? 'on'"><a th:href="@{/cs/list(cate1=notice, cate2=safeDeal)}">안전거래</a></li>
            <li th:classappend="${cate2}=='xproduct' ? 'on'"><a th:href="@{/cs/list(cate1=notice, cate2=xproduct)}">위해상품</a></li>
            <li th:classappend="${cate2}=='great' ? 'on'"><a th:href="@{/cs/list(cate1=notice, cate2=great)}">이벤트당첨</a></li>
          </ul>
        </aside>
        <article>
          <nav th:if="${cate2}=='all'">
            <h1>전체</h1>
            <h2>전체 공지사항입니다.</h2>
          </nav>
          <nav th:if="${cate2}=='service'">
            <h1>고객서비스</h1>
            <h2>고객서비스 공지사항입니다.</h2>
          </nav>
          <nav th:if="${cate2}=='safeDeal'">
            <h1>안전거래</h1>
            <h2>안전거래 공지사항입니다.</h2>
          </nav>
          <nav th:if="${cate2}=='xproduct'">
            <h1>위해상품</h1>
            <h2>위해상품 공지사항입니다.</h2>
          </nav>
          <nav th:if="${cate2}=='great'">
            <h1>이벤트당첨</h1>
            <h2>이벤트당첨 공지사항입니다.</h2>
          </nav>
</html>