<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/cs/_header}"/>
<th:block th:replace="~{/cs/board/__${cate1}__}"/>

          <th:block th:switch="${#strings.toString(cate1)}">
            <th:block th:case="_notice">
              <table>
                <th:block th:each="art,index:${articles}">
                  <tr>
                    <td><a th:href="@{/cs/view(cate1=notice, cate2=${art.cate2}, csNo=${art.csNo}, pg=${pg})}">[[${art.title}]]</a></td>
                    <td>[[${art.rdate}]]</td>
                  </tr>
                </th:block>
              </table>
              <div class="page">
                <th:block th:if="${groups[0] > 1}">
                  <a th:href="@{/cs/list(pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                  <a th:href="@{/cs/list(cate1=notice, cate2=${cate2}, pg=${num})}" th:class="${num==currentPage? 'num on' : 'num'}">[[${num}]]</a>
                </th:block>
                <th:block th:if="${groups[1] < lastPage}">
                  <a th:href="@{/cs/list(pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
              </div>
            </th:block>

            <th:block th:case="_faq">
              <th:block th:each="art,index:${articles}">
                <div>
                  <h3>[[${art.type}]]</h3>
                  <ul>
                    <li><a th:href="@{/cs/view(cate1=notice, cate2=${art.cate2}, csNo=${art.csNo})}"><span>Q.</span>[[${art.title}]]</a></li>
                    <li class="more"><a href="#">더보기</a></li>
                  </ul>
                </div>
              </th:block>
            </th:block>

            <th:block th:case="_qna">
              <table>
                <th:block th:each="art,index:${articles}">
                  <tr>
                    <td><a th:href="@{/cs/view(cate1=qna, cate2=${art.cate2}, csNo=${art.csNo})}">[[${art.title}]]</a></td>
                    <td>[[${art.uid}]]</td>
                    <td>[[${art.rdate}]]</td>
                  </tr>
                </th:block>
              </table>
              <div class="page">
                <th:block th:if="${groups[0] > 1}">
                  <a th:href="@{/cs/list(pg=${groups[0] - 1})}" class="prev">이전</a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                  <a th:href="@{/cs/list(cate1=qna, cate2=${cate2}, pg=${num})}" th:class="${num == curentPage ? 'num on' : 'num'}">[[${num}]]</a>
                </th:block>
                <th:block th:if="${groups[1] < lastPage}">
                  <a th:href="@{/cs/list(pg=${groups[1] + 1})}" class="next">다음</a>
                </th:block>
              </div>
              <a th:href="@{/cs/write(cate1=qna)}" class="btnWrite">문의하기</a>
            </th:block>
          </th:block>

          </article>
          </section>
          </div>
          </section>
<th:block th:replace="~{/cs/_footer}"/>
</html>