<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/cs/_header}"/>
<th:block th:replace="~{/cs/board/__${cate1}__}"/>

          <th:block th:switch="${#strings.toString(cate1)}">
            <th:block th:case="_notice">
              <table>
                  <tr>
                    <th:block th:each="art.index:${articles}">
                      <td><a th:href="@{/cs/view(cate1=notice, cate2=${art.cate2}, csNo=${art.csNo})">[[${art.title}]]</a></td>
                      <td>[[${art.rdate}]]</td>
                    </th:block>
                  </tr>
              </table>
              <div class="page">
                <a href="#" class="prev">이전</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="next">다음</a>
              </div>
            </th:block>

            <th:block th:case="_faq">
              <div>
                <h3>가입</h3>
                <ul>
                  <li><a href="./view.html"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>탈퇴</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>회원정보</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>로그인</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
            </th:block>

            <th:block th:case="_qna">
              <table>
                <tr>
                  <td><a href="./view.html">[가입] 가입 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="./view.html">[탈퇴] 탈퇴 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[회원정보] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[로그인] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[로그인] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[로그인] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[회원정보] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[회원정보] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[탈퇴] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
                <tr>
                  <td><a href="#">[탈퇴] 회원정보 문의내용</a></td>
                  <td>chh**</td>
                  <td>2022.11.21</td>
                </tr>
              </table>
              <div class="page">
                <a href="#" class="prev">이전</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="next">다음</a>
              </div>
              <a href="./write.html" class="btnWrite">문의하기</a>
            </th:block>
          </th:block>

          </article>
          </section>
          </div>
          </section>
<th:block th:replace="~{/cs/_footer}"/>
</html>